@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Test.Localization
@using Volo.Abp.Users
@model Test.Web.Pages.IndexModel
@inject IHtmlLocalizer<TestResource> L
@inject ICurrentUser CurrentUser

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css"/>
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js"/>
    </abp-script-bundle>
}

<div id="CourseWrapper">

    <form method="post" id="CourseInfo" enctype="multipart/form-data">
        <abp-row>
            <div class="form-group">
                <label>File </label>
                <span> * </span>
                <input class="form-control" type="file" id="VideoFile"/>
            </div>
        </abp-row>
        <abp-progress-bar type="Success" id="fileProgress" value="0" strip="true"/>
    </form>

</div>